<div class="alert alert-success" *ngIf="msg !== ''">
  {{msg}}
</div>
<form #frmMenuItem=ngForm (ngSubmit)="saveMenuItem()">
  <div class="row form-group">
    <div class="col-md-2">
      <label>Menu Item Id</label>
    </div>
    <div class="col-md-4">
      <input type=number class="form-control" name=id #id=ngModel [(ngModel)]="menuItem.id" required>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-2">
      <label>Menu Item Code</label>
    </div>
    <div class="col-md-4">
      <input type=text class="form-control" name=code #code=ngModel [(ngModel)]="menuItem.code" required>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-2">
      <label>Menu Item Desc</label>
    </div>
    <div class="col-md-4">
      <input type=text class="form-control" name=desc #desc=ngModel [(ngModel)]="menuItem.desc" required minlength="3">
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-2">
      <label>Menu Item Price</label>
    </div>
    <div class="col-md-4">
      <input type=number class="form-control" name=unitPrice #unitPrice=ngModel [(ngModel)]="menuItem.unitPrice" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">      
      <button class="btn btn-info" type="submit" [disabled]="frmMenuItem.invalid">{{buttonName}}</button>
    </div>    
  </div>
</form>
<table class="table table-stripped">
  <tr>
    <th>Item Id</th>
    <th>Item Code</th>
    <th>Description</th>
    <th>Unit Price</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let menuItem of menuItemList">
    <td>{{menuItem.id}}</td>
    <td>{{menuItem.code}}</td>
    <td>{{menuItem.desc}}</td>
    <td>{{menuItem.unitPrice}}</td>
    <td>
      <button class="btn btn-info" (click)="editMenuItem(menuItem.id)">Edit</button>
      <button class="btn btn-danger" (click)="deleteMenuItem(menuItem.id)">Delete</button>
    </td>  
  </tr>
</table>