<div class="container">
  <div class="row">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Home</a>
    </nav>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" routerLink="/aboutus" routerLinkActive="active">AboutUs</a>
    </nav>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
    </nav>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" routerLink="/product" routerLinkActive="active">Product</a>
    </nav>
  </div>

  <div class="row">
    <router-outlet (activate)="logRouterEvent()"></router-outlet>
  </div>

</div>
